{% extends "hiking_app_js/base.html" %}

{% block app_content %}
  <h1>Use Guide and Help Documentation</h1>
  <p>Read carefully!</p>

  <h2>User</h2>
  <p>

    Using the Interface


    Disclaimer




  </p>


  <h2>Technical</h2>
  <p>inset Text here</p>
  <p>Click the button --> Draw line --> Server does the geoprocessing --> Graph Appears</p>



{% endblock %}

{% block app_actions %}
<span>Created by Sam Mineer and Jasmyn Harper, Brigham Young University.</span>
<br>
<span>Disclaimer: Authors not responsible for lost hikers. Please call 911 if a hiker is lost.</span>

{% endblock %}